#section{
    min-height: 100vh;
	overflow:hidden;
    background-color: #f0f0f0;

}
#formBox{
    background-color: #fff;
    position: relative;
    width: 1000px;
    min-height: 100vh;
    margin: 0 auto;
}
/*派单表单*/
.form_content{
	width: 556px;
	margin:0 auto;
	padding-top: 52px;
	padding-bottom: 52px;
	min-height: 100vh;
}
.form_content>form{
	min-height: 100vh;
}
.form_tab{
	position: fixed;
	top:104px;right:50%;
	margin-right: -442px;
	width: 100px;
	z-index: 400;
	border:1px solid #e0e0e0;
	border-bottom: none;
}
.form_tab>li>a{
	display: block;
	height: 40px;
	line-height:40px;
	border-bottom:1px solid #e0e0e0;
	color: #9d9d9d;
	text-align: center;
}
.form_tab_item:hover{
	background-color: #E2E2E4;
}
.form_tab_item.active{
	background-color: #E2E2E4;
}
/*回到顶部*/
.to_top{
	display: block;
	width: 66px;
	height: 66px;
	line-height: 66px;
	text-align: center;
	position: fixed;
	bottom:50px;right:50%;
	margin-right: -425px;
	border-radius: 50%;
	border: 1px solid #e0e0e0;
	color: #646464;
	font-size: 12px;
}
.form_title{
	color: #646464;
	font-size: 22px;
	font-family: "microsoft yahei";

}

.tab_content{
	font-size: 16px;
	color: #646464;
	padding-top: 50px;
}
.tab_content:first-child{
	padding-top: 0px;
}
.tab_content>li{
	margin-top: 22px;
	line-height: 38px;
	position: relative;
	clear: both;
}
.tab_content .input_label{
	min-width: 83px;
	display: inline-block;
}
.tab_content .float_label{
	float: left;
}
.tab_content .required{
	color: #f00;
}
.tab_content .input_txt{
	box-sizing: border-box;
	width: 468px;
	height: 38px;
	line-height: 38px;
	border:1px solid #e0e0e0;
	padding:0 16px;
	border-radius: 0;
}
.input_txt.datepicker{
	cursor: pointer;
}
input.form_required.err{
	border-color: #a94442;
}
.tab_content .input_sel{
	width: 468px;
	height: 38px;
	line-height: 38px;
	border:1px solid #e0e0e0;
	height: 38px;
	cursor: pointer;
	box-sizing: border-box;
	padding-left: 16px;
}
.tab_content .input_pld{
	position: absolute;
	top: 0px;left:102px;
	color: #d4d4d4;
	font-size: 14px;
	line-height: 42px;
	width: 454px;
	box-sizing: border-box;
}
.tab_content .input_sel_pld{
	width: 38px;
	position: absolute;
	top: 0px;left:102px;
	color: #d4d4d4;
	font-size: 14px;
	line-height: 42px;
}
.input_pld.err{
	color: #a94442;
}
.input_sel_pld.err{
	color: #a94442;

}
.select_icon{
	position: absolute;
	top:18px;right: 10px;
	width: 14px;
	height: 7px;
	background: url(../img/sprites.png) -121px -22px;
}
.sel_list{
	position: absolute;
	top:37px;left:88px;
	border:1px solid #e0e0e0;
	/*border-top: none;*/
	background-color: #fff;
	z-index: 500;
	width:466px;
	display: none;
	overflow-y: auto;
	max-height: 150px;
}
.sel_list>li{
	padding: 0 16px;
	cursor: pointer;
	font-size: 14px;
}
.sel_list>li:hover{
	background-color: #eaeaea;
}
.sel_list>li.active{
	background-color: #eaeaea;
}


 input[type="radio"]{
	position: relative;
	top:1px;
}
#imgContainer{
	float: left;
	margin-left: 4px;
}

#pickImg{
	display: inline-block;
	width: 96px;height: 20px;
	line-height: 20px;
	border:1px solid #e0e0e0;
	border-radius: 2px;
	background-color: #F3F3F3;
	text-align: center;
	font-size: 12px;
}
.pick_tips{
	font-size: 14px;
	color: #afafaf;
}
#previewImg{
	overflow: hidden;
	clear: both;
	padding-left: 100px;
	padding-top: 12px;
}
#previewImg>li{
	float: left;
	margin-right: 15px;
	position: relative;
}
#previewImg>li>img{
	width: 70px;height: 70px;
}
#previewImg .del_img{
	position: absolute;
	top:-6px;right: -8px;
	width: 20px;height: 20px;
	background: url(../img/sprites.png) no-repeat -38px -22px;
	z-index: 300;
	cursor: pointer;
}
/*备注*/
#remark{
	position: relative;
}
#remark>.input_txt{
	height: 116px;
	color: #323232;
	font-size: 16px;
	line-height: 28px;
}
#remark>.input_pld{
	top:50px;
	height: 116px;
}
#remark>.input_label{
	position: relative;
	top: -100px;
}

/*选择按钮*/
.chose_btn_group{
	float: left;
	overflow: hidden;
	width: 460px;
	margin-left: 5px;
}
.chose_btn_item{
	float: left;
	width: 92px;
	height: 28px;
	line-height: 28px;
	border:1px solid #D1D1D1;
	border-radius: 4px;
	background-color: #EDEDED;
	text-align: center;
	margin-right: 20px;
	margin-bottom: 22px;
	cursor: pointer;
}
.chose_btn_item.active{
	color: #1b9af7;
}

/*end选择按钮*/

/*提交按钮*/
.submit_box{
	margin: 0px 162px;
	margin-top: 56px;
}
#submit{
	display: block;
	width: 296px;height: 30px;
	line-height: 30px;
	text-align: center;
	color: #fff;
	background-color: #F2572C;
}


/*end派单表单*/